<!DOCTYPE html>
<html>
<head>
	<title>Employee Details</title>
	<style type="text/css">
		p
		{
			text-align: center;
			background-color: yellow;
			color: blue;
			padding: 23px;
			margin-left: 40%;
			margin-right: 40%;
		}
		#sample
		{
			margin-left: 30%;
			background-color: grey;
			text-align: center;
			padding:12px;
		}
		.sa
		{
			margin-right:35%;
			text-align: center;
			color: blue;
			background-color:yellow;
		}
	</style>
</head>
<body>
	<h3>Your Name is: <span style="color:green;font-size:25px">{{n}}</h3>
	<h4 style="text-align: center">Your Id is: {{i}}</h4>
<h1>Internal</h1>
<p>This is an example for Internal style based on tag</p>
<h4 id="sample">This is an example id</h4>

<h4 class="sa">This is an example for class by using internal styling</h4>
<p class="sa">This is an example</p>
<h1 class= "sa">Hi Welcome Krishna</h1>
</body>
</html>