<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
</head>
<body>
<form action="{% url 'register' %}" method="post">
	{% csrf_token %}
	<input type="text" name="firstname" placeholder="Enter your first Name"><br>
	<input type="text" name="lastname" placeholder="Enter your last name"><br>
	<input type="email" name="email" placeholder="Enter your emailID"><br>
	<input type="text" name="address" placeholder="Enter your address here"><br>
	<h3>Gender</h3>
	<input type="radio" name="gender" value="male">
	<label for="male">male</label><br>
	<input type="radio" name="gender" value="female">
	<label for="female">female</label><br>
	<label>Enter your mobile number</label>
	<input type="text" name="phonenumber" placeholder="Enter your phone number"><br>
	<label>Enter your known languages</label><br>
	<label>English</label>
	<input type="checkbox" name="lang" value="English"><br>
	<label>Telugu</label>
	<input type="checkbox" name="lang" value="Telugu"><br>
	<label>Hindi</label>
	<input type="checkbox" name="lang" value="Hindi"><br>
	<input type="submit" name="submit" value="Submit Here">
</form>
</body>
</html>